.big-icons {
}

.spotify-logo {
  padding-bottom: 5px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.row-low-padding [class*="col-"] {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-60%);
}

/* Media Queries for responsive text */
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .big-icons{font-size:192px};
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .big-icons{font-size:288px};
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .big-icons{font-size:307px};
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .big-icons{font-size:397px};
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .big-icons{font-size:240px};
}
