<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Music</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div style="text-align:center">
    <h1>Weather Music: {{ obs.get_location().get_name() }}</h1>
    <h1>Time: {{ time }} UTC</h1>
    <h1>Temperature: {{ w.get_temperature('fahrenheit')['temp'] }} °F, Weather: {{ w.get_status() }}</h1>
    <div class="big-icons"><i class="wi wi-owm-{{ day_night }}-{{ w.get_weather_code() }}"></i></div>
    <button type="button" class="btn btn-primary">Export To Spotify!</button>
    <br><br><br>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead></thead>
            <tbody>
                {% for item in items %}
                <td>
                    <td> {{ loop.index0+1 }}</td>
                    <td><img src="{{ item['track']['album']['images'][0]['url'] }}" height="30%"></td>
                    <td><audio controls><source src="{{ item['track']['preview_url'] }}"></audio>
                    <td><h4>{{ item['track']['name'] }} - {{ item['track']['artists'][0]['name'] }}</h4></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
</body>
</html>