<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Music</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div style="text-align:center">
    <h1>{{ obs.get_location().get_name() }}, {{ obs.get_location().get_country() }}</h1>
    <h1>{{ datetime }}</h1>
    <h1>{{ w.get_temperature('fahrenheit')['temp'] }} °F, {{ w.get_detailed_status().title() }}</h1>
    <div class="big-icons"><i class="wi wi-owm-{{ day_night }}-{{ w.get_weather_code() }}"></i></div>
    <form role="form" action="/make_playlist" method="post">
        <button class="btn btn-primary" type="submit">Export To Spotify!</button>
    </form>
    <br>
    </div>
    <!-- TABLE VIEW -->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-6" style="margin: 0 auto; float:none;">
        <table class="table table-striped table-responsive">
            <thead></thead>
            <tbody>
                {% for item in items %}
                <td>
                    <td><h4>{{ loop.index0+1 }}</h4></td>
                    <td><audio id="track{{ loop.index0+1 }}" preload="none" source src="{{ item['track']['preview_url'] }}" type='audio/mpeg'></audio>
                        <button type="button" class="btn btn-default" onClick="EvalSound('track{{ loop.index0+1 }}', this)"><span class="glyphicon glyphicon-play"></span></button></td>
                    <td><h4>{{ item['track']['name'] }} - {{ item['track']['artists'][0]['name'] }}</h4></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- THUMBNAIL VIEW -->
    <!--
    <div class="row">
        {% for item in items %}
        <div class="col-xs-6 col-md-2 col-lg-2">
        <a href="{{ item['track']['album']['images'][0]['url'] }}" class="thumbnail"><img src="{{ item['track']['album']['images'][0]['url'] }}" class></a>
        <div class="caption">
            <h4>{{ loop.index0+1 }}. {{ item['track']['name'] }} - {{ item['track']['artists'][0]['name'] }}</h4>
            <audio id="track{{ loop.index0+1 }}" preload="none" source src="{{ item['track']['preview_url'] }}" type='audio/mpeg'></audio>
            <button type="button" class="btn btn-default" onClick="EvalSound('track{{ loop.index0+1 }}', this)"><span class="glyphicon glyphicon-play"></span></button>
        </div>
        </div>
        {% endfor %}
    </div>
    -->
    <!-- MEDIA OBJECT VIEW -->
    <!--
    <div class="row">
        {% for item in items %}
        <div class="media">
            <div class="col-xs-8 col-sm-6 col-md-3">
            <div class="media-left">
                <img class="media-object img-thumbnail" src="{{ item['track']['album']['images'][0]['url'] }}">
            </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ loop.index0+1 }}. {{ item['track']['name'] }} - {{ item['track']['artists'][0]['name'] }}</h4>
                <audio id="item{{ loop.index0+1 }}"><source src="{{ item['track']['preview_url'] }}"></audio>
                <div>
                    <button onclick="document.getElementById('item{{ loop.index0+1 }}').play()" ><span class="glyphicon glyphicon-play"></span></button>
                    <button onclick="document.getElementById('item{{ loop.index0+1 }}').pause()"><span class="glyphicon glyphicon-pause"></span></button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    -->
    {% endblock %}
</body>
</html>