<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon"  type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <meta charset="UTF-8">
    <title>Today Sounds Like</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <link href="/static/css/navbar.css" rel="stylesheet">
    <div class="container">
    <div style="text-align:center;">
        <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <h1>Today Sounds Like...</h1>
            <div class="big-icons"><i class="wi wi-umbrella"></i></div>
        </div>
        </div>
        <div class="row">
        <div class="col-xs-8 col-sm-6 col-md-5" style="margin: 0 auto; float:none;">
            <form role="form" action="/gen_playlist" method="post">
                <div class="input-group">
                  <input type="text" class="form-control input-sm" name="location" placeholder="Enter City... (e.g London, GB)" required>
                  <span class="input-group-btn">
                      <button class="btn btn-default btn-sm" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
                </div>
            </form>
        </div>
        {% if err == "loc_err" %}
        <small>We cannot find that location. Try entering a new one with format: *city*,*cnt_code*</small>
        {% endif %}
        {% if err == "auth_err" %}
        <small>token error</small>
        {% endif %}
        <br>
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">What Is This?</button>
        </div>
    </div>
    </div>
    <footer class="footer">
    <div class="container">
        <div class="row row-centered row-low-padding">
            <small>powered by:</small>
            <div class="spotify-logo">
                <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 col-centered">
                    <img src="/static/img/Spotify_Logo_Gray.svg" class="img-responsive">
                </div>
                <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 col-centered">
                    <img src="/static/img/OpenWeatherMap_Logo_Gray.svg" class="img-responsive vertical-align">
                </div>
            </div>
        </div>
    </div>
    </footer>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">What Does Today Sound Like?</h4>
                </div>
                <div class="modal-body">
                    Ever wanted to hear a playlist that matches the weather outside?
                    Today Sounds Like makes a personalized playlist using your Spotify saved tracks and the weather conditions around you!
                    Simply enter your location and the app will comb through your tracks to pick the perfect playlist for your city.
                    <br><br>
                    Let me know what you think!
                    <br><br>
                    Mark Hoover (hoovermr@gmail.com)
                </div>
                <div class="modal-footer"><button type="button" class="btn btn-default center-block" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>