<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Music</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div style="text-align:center">
    <h1>Weather Music: {{ location }}</h1>
    <h1>Time: {{ time }}</h1>
    <h1>Temperature: {{ weather.get_temperature('fahrenheit')['temp'] }} °F, Weather: {{ weather.get_status() }}</h1>
    <div class="big-icons"><i class="wi wi-owm-{{ day_night }}-{{ weather.get_weather_code() }}"></i></div>
    <button type="button" class="btn btn-primary">Export To Spotify!</button>
    <br><br><br>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead></thead>
            <tbody>
                {% for item in items %}
                <td>
                    <td> {{ loop.index0+1 }}</td>
                    <td><img src="{{ item['track']['album']['images'][0]['url'] }}" height="30%"></td>
                    <td><audio controls><source src="{{ item['track']['preview_url'] }}"></audio>
                    <td>{{ item['track']['name'] }} - {{ item['track']['artists'][0]['name'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
</body>
</html>