<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Music</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="container">
    <div class="Absolute-Center is-Responsive">
    <div style="text-align:center">
        <h1>Weather Music</h1>
        <div class="big-icons"><i class="wi wi-umbrella"></i></div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
        <form role="form" action="/gen_playlist" method="post">
            <div class="input-group">
              <input type="text" class="form-control input-sm" name="location" placeholder="Enter City... (e.g London, GB)" required>
              <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="submit"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
        </form>
        </div>
    </div>
    </div>
    </div>
    {% endblock %}
</body>
</html>