<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Export To Spotify</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div style="text-align:center">
    <h1>Weather Music: {{ location }}</h1>
    <h1>Time: {{ time }} UTC</h1>
    <h1>Temperature: {{ temp }} °F, Weather: {{ status }}</h1>
    <div class="big-icons"><i class="wi wi-owm-{{ dn_code }}"></i></div>
    <a href={{ playlist_uri }} class="btn btn-primary">Open In Spotify!</a>
    {% endblock %}
</body>
</html>