<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Export To Spotify</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div style="text-align:center">
    <h1>{{ location }}</h1>
    <h1>{{ time }}, {{ temp }} °F</h1>
    <div class="big-icons"><i class="wi wi-owm-{{ dn_code }}"></i></div>
    <a href={{ playlist_uri }} class="btn btn-primary">Open In Spotify!</a>
    <br><br>
    <form role="form" action="/index" method="get">
        <button class="btn btn-primary" type="submit">Again!</button>
    </form>

    {% endblock %}
</body>
</html>