<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    {{ super() }}
</head>
<body>
    {% block body %}
    <div style="text-align:center">
        <h1>{{ location }}</h1>
        <h1>{{ time }}, {{ temp }} °F</h1>
        <div class="big-icons"><i class="wi wi-owm-{{ dn_code }}"></i></div>
        <a href={{ playlist_uri }} class="btn btn-primary">Listen In Spotify App!</a>
        <br><br>
        <form role="form" action="/index" method="get">
            <button class="btn btn-primary" type="submit">Create Another Playlist</button>
        </form>
    </div>
    {% endblock %}
</body>
</html>